<div>
  <p>Congrats, you have a new cat named {{cat_name}}. {{cat_name}} is {{cat_color}}
    and is probably around {{cat_age}} years old. But we can't know for sure,
    cats are very secretive about their ages.</p>
<div>
